<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="CarRentalSystemEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANONYMOUS;initial catalog=CarRentalSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CGCAppDatabaseEntities" connectionString="metadata=res://*/CGCTABLE.csdl|res://*/CGCTABLE.ssdl|res://*/CGCTABLE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANONYMOUS;initial catalog=CGCAppDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>