<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CGCAppDatabaseEntities" connectionString="metadata=res://*/CGCAppDatabase.csdl|res://*/CGCAppDatabase.ssdl|res://*/CGCAppDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANONYMOUS;initial catalog=CGCAppDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>